:root{
    --side-menu-width: 120px;
    --page-content-width: calc(100% - 120px);
}

html,
body,
#root,
.app-content{
    margin: 0;
    padding: 0;
    height: 100%;
}

*{
    box-sizing: border-box;
}

.app-content{
    display: flex;
}

.page-wrapper{
    width: var(--page-content-width);
}

a{
    text-decoration: none;
}