:root{
    --side-menu-max-width: 120px;
    --side-menu-min-width: 100px;
}

html,
body,
#root,
.app-content{
    margin: 0;
    padding: 0;
    height: 100%;
}

*{
    box-sizing: border-box;
}

.app-content{
    display: flex;
}

.page-wrapper{
    display: inline-block;
    width: 100%;
}

a, 
a:hover, 
a:focus, 
a:active {
    text-decoration: none;
    color: inherit;
}