.app-content .MuiTypography-root:not(.MuiLink-root) {
    color: #2b5672
}

.app-content .MuiLink-root{
    cursor: pointer;
    font-size: 0.877rem;
    color: #1976d2
}

.app-content .MuiListItemIcon-root{
    min-width: 38px;
}

.app-content .MuiButton-root{
    font-weight: 400;    
}

.app-content .MuiSvgIcon-root{
    font-size: 1.3rem;
}

.app-content .MuiFormControlLabel-labelPlacementTop .MuiFormControlLabel-label{
    margin-bottom: 8px;
    line-height: 1;
}

.app-content .MuiAccordionDetails-root{
    padding-top: 16px;
}