.container{
    height: 100%;
    background-color: #f5f4f9;
}

.messages{
    height: calc(100% - 72px);
    overflow: auto;
    padding: 16px
}

.message_wrapper{
    padding: 10px;
    width: fit-content;
    max-width: 70%;
    margin-bottom: 10px;
}

.message_wrapper.sent{
    margin-left: auto;
    background-color: #d4e2f7;
    border-radius: 12px 12px 0 12px;
}

.message_wrapper.received{
    margin-right: auto;
    background-color: #DEF8D5;
    border-radius: 12px 12px 12px 0;
}

.message_wrapper p{
    margin: 0;
}